<br>
<h1>Profile</h1>

<form >
    <div>
      <label for="name">First Name : </label>
      <label for="name"><%= user.firstName %></label>
    </div>
    <div>
      <label for="name">Last Name : </label>
      <label for="phone"><%= user.lastName %></label>
    </div>
    <div>
      <label for="phone">Phone : </label>
      <label for="phone"><%= user.phone %></label>
    </div>
    <div>
      <label for="email">Email : </label>
      <label for="phone"><%= user.emailAddress %></label>
    </div>
    <button> <a href="edit" > Change password </a> </button>
  </form>