<h1>Add Mall</h1>

<form method="post" action="/mall/add">
  <div>
    <label>Name </label>
    <input name="name" type="text" />
  </div>

  <div>
    <label>Iocation </label>
    <input name="location" type="text" />
  </div>

  <div>
    <label for="img">Select image:</label>
    <input type="file" id="img" name="img" accept="image/*">
  </div>

  <button type="submit">Add</button>
</form>
