

    <% malls.forEach(function(mall){ %>
   <div>
        <div> <img src="..<%=mall.image%>" width="250px" height="220px"> </div>
        <div> <a href=""> <%= mall.name %></a> </div>

        <div><%= mall.location%></div>
    </div>
    <%})%>
