

    <% malls.forEach(function(mall){ %>
    <div>
        <div> <img src="/images/<%=mall.image%>"> </div>
        <div> <%= mall.name %> </div>

        <div><%= mall.location%></div>
    </div>
    <%})%>
