<div>
    <div class="container">
    <div class="box"><a href="/mall/index"><img src="/images/malls.jpg"/></a> <br /> Malls</div>
    <div class="box"><a href="/mall/index"></a><img src="/images/events.jpg"/> </a> <br /> Events</div>
    <div class="box"><a href="/mall/index"></a><img src="/images/c.jpeg"/> </a> <br /> Companies</div>
    
    
    </div>
    </div>