<div>
    <div class="container">
    <div class="box"><img src="/images/malls.jpg"/> <br /> Malls</div>
    <div class="box"><img src="/images/events.jpg"/> <br /> Events</div>
    <div class="box"><img src="/images/c.jpeg"/> <br /> Companies</div>
    
    
    </div>
    </div>