
    <div class="container">
   <a href="/mall/index"><div class="box box1" ><br /> Malls</div></a> 
   <a href="/company/index"><div class="box box2" ><br /> Companies </div></a> 
   <a href="/event/index"><div class="box box3" ><br />Events </div></a> 
    <!-- <div class="box"><a href="/mall/index"><img src="/images/events.jpg"/> </a> <br /> Events</div>
    <div class="box"><a href="/company/index"><img src="/images/c.jpeg"/> </a> <br /> Companies</div> -->
    
    
    </div>

    <!-- <img src="/images/malls.jpg"/></a>  -->