
<div class="container">
    <a href="/mall/index"><div class="box box1" ><br /> Malls</div></a> 
    <a href="/company/index"><div class="box box2" ><br /> Companies </div></a> 
    <a href="/event/index"><div class="box box3" ><br />Events </div></a> 
 
     </div>
 
  