 <div class="cards">
     <a href="/mall/index"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/malls.jpg" >
        <div class="card-body">
       </a>  <h5 class="card-title">Malls</h5>
        </div>
      </div>
    

    <a href="/company/index"> 
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/c.jpeg" >
        <div class="card-body">
        </a>   <h5 class="card-title">Companies</h5>
        </div>
      </div>
     
      <a href="/event/index">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/events.jpg" >
        <div class="card-body">
           </a><h5 class="card-title">Events</h5>
        </div>
      </div>
     
    </div>