<h1>Add Company</h1>

<form method="post" action="/mall/add" enctype="multipart/form-data">
  <div>
    <label>Name </label>
    <input name="name" type="text" />
  </div>

  <div>
    <label>Location </label>
    <input name="location" type="text" />
  </div>

  <div>
    <label for="img">Select image:</label>
    <input type="file" id="file" name="image">
  </div>

  <input type="submit" name="Add" />
</form>


<a href="/company/add">Add company</a>