<h1>Add Event</h1>

<form method="post" action="/event/edit">
  <div>
    <label>Name </label>
    <input name="name" type="text"  value="<%= events.name%>"/>
  </div>

  <div>
    <label>Location </label>
    <input name="location" type="text" value="<%= events.location%>" /> 
  </div>

  <div>
    <label>Date </label>
    <input name="date" type="date" />
  </div>
  <input  type="hidden" value="<%= events._id%>" name="id">
  <button type="submit">update</button>
</form>

  <!-- <div>
    <label for="img">Select image:</label>
    <input type="file" id="file" name="image">
  </div> -->